.planContainer {
    width: 450px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #000000;
}

/* End of Container */

.planContainer > .planContents {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.planContents > .contentsLeading {
    width: 35px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
}

.planContents > .contentsTrailing {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 0;
}

.contentsTrailing > .topArea {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contentsTrailing > .tagArea {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 10px;
}

.contentsTrailing > .bottomArea {

}

/* End of Contents */

.roundedTag {
    padding: 5px 10px;
    background-color: #888888;
    color: black;
    border-radius: 7px;
    align-content: center;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5);
}

.roundedTag > .subView {

}

.checkBox {
    width: 15px;
    height: 15px;
    padding: 10px;
}

.trailingButton {
    width: 15px;
    height: 15px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.title {
    display: flex;
    flex: 1;
}

.onGoingPlanContainer {
    background-color: #90EE90;
}

.donePlanContainer {
    background-color: #FF7F7F;
}
