.headerPosition {
  position: relative;
}

.roundedRectangle {
  border: 2px solid black;
  border-radius: 8px; /* Adjust the radius as needed */
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
